html,
body {
    font-family: system-ui, sans-serif;
    background-color: white;
    color: black;
    font-size: 1.5em;
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background-color: black;
        color: white;
    }
}