html,
body {
    font-family: system-ui, sans-serif;
    background-color: white;
    color: black;
    font-size: 1.25em;
    font-weight: 500;

    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    transform: translateY(-10%);
}

#countdown {
    position: relative;
    background: linear-gradient(90deg, #ff6f00, #ff1493, #00bfff, #ff6f00);
    background-size: 750% 750%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 40s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

p {
    margin: 0.5em 0;
}

.heart {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.5em;
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background-color: black;
        color: white;
    }
}